h1{
    font-size: 22px;
    font-weight: bold;
}
.paragraph{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    font-size: 16px;
    color: red;.third{
    color: blue;
}